body {
  display: block;
  background: black;
  color: #f8f8f8;
  padding-top: 65px;
}

a, a:hover {
  color: inherit;
}

.center {
  padding: 30vh 0;
}

.container-fluid img {
  position: absolute;
  float: right;
}

.no-td {
  text-decoration: none !important;
}

.same-height {
  height: 13vh;
}

.small-square {
  object-fit: cover;
  width: 10vh;
  height: 10vh;
}

.table-borderless tbody tr td, .table-borderless tbody tr th,
.table-borderless thead tr td, .table-borderless thead tr th {
  border: 0;
}

.table-stripe tbody tr:nth-child(odd) td {
  background-color: #161616;
}

#left-table {
  position: relative;
  padding-left: 25vw;
}
