body {
  display: block;
  background: #191414;
  color: #1DB954;
  padding-top: 5rem;
}

.chartjs-size-monitor {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;
}

.top-buffer {
  margin-top:2rem;
}

h1 {
  color: #FDFEFF;
}

h2 {
  color: #FDFEFF;
}

.bg-dark {
  background: #191616 !important;
}
