body {
  display: block;
  background: #191414;
  color: #1DB954;
  padding-top: 5rem;
}

.chartjs-size-monitor {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;
}

.top-buffer {
  margin-top:2rem;
}

h1 {
  color: #FDFEFF;
}

h2 {
  color: #FDFEFF;
}

.bg-dark {
  background: #191616 !important;
}

.card-title {
  color: #020100;
}

.card-text {
  color: #020100;
}

.my-btn:hover, .my-btn:focus, .my-btn:active, .my-btn:active:focus,
.my-btn.active, .open>.dropdown-toggle.my-btn {
  color: #020100 !important;
  background-color: #FFAC9C !important;
  border-color: #020100 !important;
}

.btn-outline-success {
  color: #1DB954;
  border-color: #1DB954;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active,
.btn-outline-success:active:focus,.btn-outline-success.active,
.open>.dropdown-toggle.btn-outline-success {
  color: #020100 !important;
  background-color: #1DB954;
  border-color: #1DB954;
}

.my-sch-again-btn:hover, .my-sch-again-btn:focus, .my-sch-again-btn:active,
.my-sch-again-btn:active:focus,.my-sch-again-btn.active,
.open>.dropdown-toggle.my-sch-again-btn {
  color: #FDFEFF !important;
  background-color: #FFAC9C !important;
  border-color: #FFDCCC !important;
}

.aestheme-red {
  color: #FF5242 !important;
}

.aestheme-orange {
  color: #FF772F !important;
}

.aestheme-yellow {
  color: #FFDF2F !important;
}

.aestheme-lime {
  color: #B7FF2F !important;
}

.aestheme-green {
  color: #22BA4D !important;
}

.aestheme-mint {
  color: #10EA88 !important;
}

.aestheme-teal {
  color: #2FFFBD !important;
}

.aestheme-azure {
  color: #2FD9FF !important;
}

.aestheme-blue {
  color: #2F71FF !important;
}

.aestheme-indigo {
  color: #5100FF !important;
}

.teal-hover-btn:hover, .teal-hover-btn:focus, .teal-hover-btn:active,
.teal-hover-btn:active:focus,.teal-hover-btn.active, .open>.dropdown-toggle.teal-hover-btn {
  color: #020100 !important;
  background-color: #2FFFBD !important;
  border-color: #020100 !important;
}
