{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="mx-auto center w-50">
    {% if name %}
    <h1 class="display-1"> find a song to
      <large class="aestheme-red">a</large><large class="aestheme-orange">e</large><large class="aestheme-yellow">s</large><large class="aestheme-lime">t</large><large class="aestheme-green">h</large><large class="aestheme-mint">e</large><large class="aestheme-teal">t</large><large class="aestheme-azure">i</large><large class="aestheme-blue">f</large><large class="aestheme-indigo">y</large>
    </h1>
    <form action="/search_results">
      <div class="form-group">
        <input type="text" class="form-control" name="search_query" placeholder="search">
      </div>
    </form>
    {% else %}
    <h2 class="display-2">aesthetify your music library</h2>
    <h3 class="display-3">log in with Spotify to get started</h3>
    {% endif %}
  </div>
</div>

{% endblock %}
