{% extends 'base.html' %}

{% block content %}
<form class="pl-3" action="{{ url_for('home') }}">
  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search again</button>
</form>

<div class="container-fluid">
  <h2 class="display-2 text-center">{{track.name}}</h2>
  <h3 class="display-4 text-muted text-center">
  {% for artist in track.album.artists %}
  <small>{{artist.name}}</small>{% if not loop.last %}, {% endif %}
  {% endfor %}
  <small>- {{track.album.name}}</small>
  </h3>
  <div>
    {% set keys = ['No key', 'C', 'C#', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'G#', 'A', 'Bb', 'B'] %}
    <h4 style="color: #f8f8f8">Key: <small>{{keys[features.key + 1]}}</small></h4>
    <h4 style="color: #f8f8f8">Mode: <small>{% if features.mode %}Major{% else %}Minor{% endif %}</small></h4>
    <h4 style="color: #f8f8f8">Meter: <small>{{features.time_signature}}</small></h4>
    <h4 style="color: #f8f8f8">Tempo: <small>{{features.tempo}}</small></h4>
  </div>

  <div class="chartjs-size-monitor">
    <canvas id="analysis" class="chartjs-render-monitor"></canvas>
  </div>

  <div class="chartjs-size-monitor">
    <canvas id="features" class="chartjs-render-monitor"></canvas>
  </div>
</div>

<script>
  var line_data = {
    labels: [
      {% for section in analysis.sections %}
        {{section.start}},
        {% if loop.last %}{{section.start + section.duration}}{% endif %}
      {% endfor %}
    ],
    datasets: [{
      label: 'Loudness',
      backgroundColor: '#007bff88',
      borderColor: '#007bff',
      data: [
        {% with loudness_max = analysis.sections|map(attribute='loudness')|max %}
        {% for section in analysis.sections %}
          {{loudness_max / section.loudness}}{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endwith %}
      ],
      fill: false,
      yAxisID: 'y-axis-0'
    }, {
      label: 'Tempo',
      backgroundColor: '#ffff3388',
      borderColor: '#ffff33',
      data: [
        {% with tempo_max = analysis.sections|map(attribute='tempo')|max %}
        {% for section in analysis.sections %}
        {{section.tempo / tempo_max }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endwith %}
      ],
      fill: false,
    }]
  };

  var line_config = {
		type: 'line',
		data: line_data,
		options: {
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
            display: true,
            labelString: 'Time'}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
    }
	};

  // Feature graph
  var radar_config = {
  	type: 'radar',
  	data: {
  	  labels: ['Danceability',
               'Energy',
               'Acousticness',
               'Instrumentalness',
               'Liveness',
               'Valence',
               'Speechiness'],
  	  datasets: [{
  			backgroundColor: '#1DB95488',
  			borderColor: '#1DB954',
  			data: [{{features.danceability}},
               {{features.energy}},
               {{features.acousticness}},
               {{features.instrumentalness}},
               {{features.liveness}},
               {{features.valence}},
               {{features.speechiness}}]
  		}]
  	},
  	options: {
      responsive: true,
      tooltips: {
        mode: 'index',
        intersect: false
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
  		legend: {display: false},
  		title: {display: false},
  		scale: {
        gridLines: {display: true,
                    color: '#444444'},
  			ticks: {beginAtZero: true,
                fontSize: 18,
                color: '#888888',
                showLabelBackdrop: false},
        pointLabels: {fontSize: 22,
                      fontColor: '#aaaaaa'}},

  	}
  };

  window.onload = function() {
    window.myAnalysis = new Chart(document.getElementById('analysis').getContext('2d'), line_config);
  	window.myFeatures = new Chart(document.getElementById('features'), radar_config);
  };
</script>

{% endblock %}
