{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <h2 class="display-2 text-success">{{track.name}}</h2>
  <h3 class="display-4 text-muted">{{track.album.name}}
    {% for artist in track.album.artists %}
    <small>{{artist.name}}</small>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </h3>

  <div>
    {% set keys = ['No key', 'C', 'C#', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'G#', 'A', 'Bb', 'B'] %}
    <h4 style="color: #f8f8f8">Key: <small>{{keys[features.key + 1]}}</small></h4>
    <h4 style="color: #f8f8f8">Mode: <small>{% if features.mode %}Major{% else %}Minor{% endif %}</small></h4>
    <h4 style="color: #f8f8f8">Meter: <small>{{features.time_signature}}</small></h4>
  </div>

  <div class="chartjs-size-monitor">
    <canvas id="features" class="chartjs-render-monitor"></canvas>
  </div>
</div>

<script>
  var color = Chart.helpers.color;
  var config = {
  	type: 'radar',
  	data: {
  	  labels: ['Danceability',
               'Energy',
               'Acousticness',
               'Instrumentalness',
               'Liveness',
               'Loudness'],
  	  datasets: [{
  			backgroundColor: '#1DB95488',
  			borderColor: '#1DB954',
  			data: [{{features.danceability}},
               {{features.energy}},
               {{features.acousticness}},
               {{features.instrumentalness}},
               {{features.liveness}},
               {{features.loudness / -60}}]
  		}]
  	},
  	options: {
  		legend: {display: false},
  		title: {display: false},
  		scale: {
        gridLines: {display: true,
                    color: '#444444'},
  			ticks: {beginAtZero: true,
                fontSize: 18,
                color: '#888888',
                showLabelBackdrop: false},
        pointLabels: {fontSize: 22,
                      fontColor: '#aaaaaa'}},

  	}
  };

  window.onload = function() {
  	window.myRadar = new Chart(document.getElementById('features'), config);
  };
</script>

{% endblock %}
